.even{
    background-color: steelblue;
    color: white;
}

.odd{
    background-color: tomato;
//     color: white
}
// th {
//     text-align: center;
//   }
// table { border: none; border-collapse: collapse; }
// table td { border-left: 1px solid #000; }
// table td:first-child { border-left: none; }